#root{
    max-width: 800px;
    height: 713px;
}
.container {
    background-color: crimson;
    border: solid gray 2px;
    border-radius: 15px;
margin-top: 8rem;
    width: 450px;
    height: 709px;
}

.logo-container {
    margin: 25px 25px 0;
}

.display {
    background: black;
    color: white;
    text-align: right;
    border-radius: 50px;
    font-size: 3rem;
    margin: 25px;
    padding: 10px 20px;
}

.App {
  max-height: 500px;
  max-width: 800px;
}

.special-button {
    background-color: mediumblue;
    color: white;
    border-radius: 50%;
    box-shadow: 0 2px black;
    font-size: 2rem;
    padding: 20px;
    margin: 10px 25px;
    width:60px;
   
}

.number-button {
    background-color: darkblue;
    color: white;
    border-radius: 50%;
    box-shadow: 0 2px black;
    font-size: 2rem;
    padding: 20px 30px;
    margin: 10px 20px;

}

.number-button:nth-last-child(2) {
    background-color: darkblue;
    color: white;
    border-radius: 50px;
    box-shadow: 0 2px black;
    font-size: 2rem;
    padding: 20px 90px;
    margin: 10px 20px;

}

/* .oppContainer {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
} */

.operator-button {
    background-color: skyblue;
    color: white;
    border-radius: 50%;
    box-shadow: 0 2px black;
    font-size: 2rem;
    padding: 25px 25px;
    /* margin-block-start: 1rem; */
    margin: 0 0 0em 11em;
    

}
 #root > div > div.App > div:nth-child(2){
    max-width: 340px;
} 
/* #root > div > div.App > div:nth-child(3){
    width:60px;
margin-bottom: 2rem;
} */