
.container {
    
    max-width: 500px;
    max-height: 500px;
    margin: auto;
}
.App{
    background-color: crimson;
    border: solid gray 2px;
    border-radius: 15px;

}

.logo-container {
    margin: 25px 25px 0;
}

.display {
    background: black;
    color: white;
    text-align: right;
    border-radius: 50px;
    font-size: 3rem;
    margin: 25px;
    padding: 10px 20px;
}


.buttons-container{
    display: flex;
   
    
    
}
.topBtns{
    
    width: 450px;
    flex-wrap: wrap;
    

}
.operDiv{
    display: flex;
    flex-direction: column;
    
}

 .special-button {
    background-color: mediumblue;
    color: white;
    border-radius: 50%;
    box-shadow: 0 2px black;
    font-size: 1.5rem;
    padding: 20px;
    margin: 12px 22px;
    width:80px;
    
    
   
}

 .number-button {
    background-color: darkblue;
    color: white;
    border-radius: 50%;
    box-shadow: 0 2px black;
    font-size: 2rem;
    padding: 20px 30px;
    margin: 12px 22px;
    width:80px;

} 


.number-button:nth-last-child(2) {
    background-color: darkblue;
    color: white;
    border-radius: 50px;
    box-shadow: 0 2px black;
    font-size: 2rem;
    padding: 20px 90px;
    margin: 10px 20px;

} 



.operator-button {
    background-color: skyblue;
    color: white;
    border-radius: 50%;
    box-shadow: 0 2px black;
    font-size: 2rem;
    padding: 20px;
    margin: 10px 25px;
    width:60px;



    

}  
